@import "tailwindcss";

@theme {
  --color-primary: #FAC638;
  --color-background-light: #f8f8f5;
  --color-background-dark: #231e0f;
  --color-surface-dark: #221d10;
  
  --font-display: "Manrope", sans-serif;
  
  --radius-DEFAULT: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

/* Custom scrollbar for horizontal sections */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}